.project
data/*
*.tmp
*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/*
tmp
.idea/**
text.txt
install/setup-lrstools-winx64.exe
Gemfile.lock
